@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Alkatra:wght@400..700&family=Amita:wght@400;700&family=Arya:wght@400;700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Oleo+Script:wght@400;700&family=Tiro+Devanagari+Sanskrit:ital@0;1&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');


.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
  }

  .galada-regular {
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  